[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pk.unit.trans"]
	path = pk.unit.trans
	url = https://github.com/cran/pk.unit.trans
